/*
 * Author: MicLee
 *
 * Project Name: QM-Wechat
 * Version: 1.0
 * URL: http://wechat.qianmi.com
 */
* {
	position: relative;
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}
.hide{
 	display: none !important;
 }
.col-xs-4 {
	float: left;
    width: 33.33333333%;
}

.container {
	height: 100%;
	color: #fff;
	text-align: center;
	background: url('../images/bg4.jpg') no-repeat top center;
    background-size: cover;
}
.btn{
	margin-top: 15px;
	display: inline-block;
	padding: 10px;
	width: 300px;
	border-radius: 5px;
	border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    transition: background 0.3s linear;
}
.btn:hover{
	background: #fff;
	color: #5a6071;
}
.btn-small{
	font-size: 16px;
	margin-left:400px;
	width: 90px;
}
.desc h1 {
	padding-top: 130px;
	font-size: 54px;
}
.desc h4 {
	font-size: 32px;
}
.desc h1,.desc h4{ font-weight: 200;}
.desc h1 b{ padding-right: 15px;}
.row {
	padding-top: 10%;
	font-size: 25px;
}
.row a{ display: block;}
.row img:hover{
	-webkit-animation:rotateIn 1s .2s ease both;
	-moz-animation:rotateIn 1s .2s ease both;
	animation:rotateIn 1s .2s ease both;
}
.click-me{
	margin-left: 300px;
    color: #FDFDFD;
    font-size: 35px;
}
@media (max-width: 767px) {
	.desc {
		padding-top: 10%;
	}
	.row {
		padding-top: 15%;
		font-size: 16px;
	}
	
	.desc h1 {
		font-size: 35px;
	}
	
	.desc h4 {
		font-size: 21px;
	}
}
/*弹窗*/
.tips{
	width: 500px;
}
.tip-header{
	padding: 10px 10px 10px 20px;
	background: #f4f7f9;
}
.tip-header .close{
	float: right;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/close.png) no-repeat;
}
.tip-body{
	padding: 15px 20px;
	background: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.tip-body a{ 
	color: #2F74EF;
	text-decoration: none;
}
.tip-footer{
	padding: 10px;
    background-color: #f4f7f9;
    text-align: center;
}
.tip-footer button{

}
.fadeOutUp{
	-webkit-animation: fadeOutUp 2s 2s ease-out both;
	-moz-animation: fadeOutUp 2s 2s ease-out both;
}
@-webikt-keyframes fadeOutUp{
	0%{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	100%{
		opacity: 0;
		-webkit-transform: translateY(-150px);
	}
}
@-moz-keyframes fadeOutUp{
	0%{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	100%{
		opacity: 0;
		-webkit-transform: translateY(-150px);
	}
}
@keyframes fadeOutUp{
	0%{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	100%{
		opacity: 0;
		-webkit-transform: translateY(-150px);
	}
}
.fadeInUp{
	-webkit-animation:fadeInUp 1.5s 2.5s ease-in both;
	-moz-animation:fadeInUp 1.5s 2.5s ease-in both;
}
@-webikt-keyframes fadeInUp{
	0%{
		opacity: 0;
		-webkit-transform: translateY(150px);
	}
	000%{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeInUp{
	0%{
		opacity: 0;
		-webkit-transform: translateY(150px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes fadeInUp{
	0%{
		opacity: 0;
		-webkit-transform: translateY(150px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-webkit-keyframes rotateIn{
	0%{
		-webkit-transform-origin:center center;
		-webkit-transform:rotate(0);
	}
	100%{
		-webkit-transform-origin:center center;
		-webkit-transform:rotate(360deg);
	}
}s
@-moz-keyframes rotateIn{
	0%{
		-webkit-transform-origin:center center;
		-webkit-transform:rotate(0);
	}
	100%{
		-webkit-transform-origin:center center;
		-webkit-transform:rotate(360deg);
	}
}
@keyframes rotateIn{
	0%{
		-webkit-transform-origin:center center;
		-webkit-transform:rotate(0);
	}
	100%{
		-webkit-transform-origin:center center;
		-webkit-transform:rotate(360deg);
	}
}