/*
 * Author: MicLee
 *
 * Project Name: QM-Wechat
 * Version: 1.0
 * URL: http://wechat.qianmi.com
 */
 
.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

* {
	position: relative;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
    padding-bottom: 10%;
	text-align: center;
}

#slide-1 {
	background-image: url('../images/bg1.jpg');
	color: #ffffff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
	background-attachment: relative;
	background-position: center center;
}

#slide-1 h1 {
	padding-top: 130px;
}

@media (max-width: 991px) {
	#slide-1 {
		background-position: -70% 0, 170% 0;
	}
}

@media (max-width: 767px) {
	#slide-1 {
		background-image: none;
	}
}

	#home-row-1,
	#home-row-2 {
		padding-top: 5%;
	}
	
	#home-row-1 h1 {
		font-size: 54px;
	}
	
	#home-row-1 h4 {
		font-size: 32px;
	}
	
	#home-row-2 {
		font-size: 25px;
	}
	
	#home-row-2 .col-12 {
		height: 232px;
		padding-top: 30px;
	}
	
	#home-row-2 .col-12 .home-hover {
		height: 166px;
		overflow: hidden;
		padding-top: 26px;
		transition: all ease-in .5s;
	}
	
	#home-row-2 .col-12 .home-hover:hover {
		height: 166px;
		padding-top: 0;
	}

@media (max-width: 767px) {
	#home-row-1,
	#home-row-2 {
		padding-top: 16px;
	}
	
	#home-row-1 h1 {
		font-size: 35px;
	}
	
	#home-row-1 h4 {
		font-size: 21px;
	}
	
	#home-row-2 {
		font-size: 16px;
	}
}

.navigation-slide {
	cursor: pointer;
}
