<div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
        <div id="home-row-1" class="row clearfix">
            <div class="col-12">
                <h1 class="font-semibold">QM-Wechat <span class="font-thin">Platform</span></h1>
                <h4 class="font-thin">内部开发中&nbsp;&nbsp;敬请期待<span class="font-semibold">&nbsp;&nbsp;【千米移动组】</span></h4>
                <br>
                <br>
            </div><!-- /col-12 -->
        </div><!-- /row -->
        <button
        <div id="home-row-2" class="row clearfix">
            <div class="col-12 col-sm-4">
                <a ng-click="auth()" ><div class="home-hover navigation-slide" data-slide="4">
                    <img src="./images/s01.png"></div></a><span>ECMAScript 6</span></div>
            <div class="col-12 col-sm-4">
                <a href="https://nodejs.org"><div class="home-hover navigation-slide" data-slide="3">
                    <img src="./images/s02.png"></div></a><span>NODEJS</span></div>
            <div class="col-12 col-sm-4">
                <a href="https://www.npmjs.com/package/koa"><div class="home-hover navigation-slide" data-slide="5">
                    <img src="./images/s03.png"></div></a><span>KOA</span></div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide1 -->
