<div class="container">
<div class="desc " ng-class="{'fadeOutUp': fade}">
    <h1><b>QM-Wechat</b>Platform</h1>
    <h4>【HACKATHON <b>WeSimple</b>团队】</h4>
</div>
<a ng-mouseenter="show()" class="btn btn-small" ng-class="{'hide': fade}">点我授权</a>
<!-- fadeInUp-->
<a href="{{authLink}}" class="btn fadeInUp"  ng-show="fade">立即授权</a>
<div class="row clearfix">
    <div class="col-xs-4">
        <a href="http://es6-features.org">
            <img src="./images/s01.png">
        </a>
        <span>ECMAScript 6</span>
    </div>
    <div class="col-xs-4">
        <a href="https://nodejs.org">
            <img src="./images/s02.png">
        </a>
        <span>NODEJS</span>
    </div>
    <div class="col-xs-4">
        <a href="https://www.npmjs.com/package/koa">
            <img src="./images/s03.png">
        </a>
        <span>KOA</span>
    </div>
</div>
</div>
